<h1>See all the Users</h1>

<div>
	<% @users.each do |user| %>
		<div>

			<h2><%= user.email %>'s Items</h2>

			<h3>Stores:</h3>
			
			<% user.locations.each do |location| %>
				<p>
					<img src="<%= location.image_url %>" alt="">
				</p>
				<p>
					Location name: <%= location.name %>
					Address: <%= location.address %>
					Phone: <%= location.phone %>
					Gluten Free? <%= location.gluten_free %>
					Vegan? <%= location.vegan %>
				</p>
			<% end %>
			
			<h3>Foods:</h3>
			<% user.foods.each do |food|%>
				<p>
					<img src="<%= food.image_url  %>">
				</p>
				<p>
					Food name: <%= food.name  %>
					Gluten Free? <%= food.gluten_free  %>
					Vegan? <%= food.vegan  %>
					
				</p>
			<% end %>
		</div>
	<% end %>
</div>
