<h1>edit location OF STRANGE NOISES</h1>
<%= form_for @location do |f| %>
   <%= f.label "Name" %>
   <%= f.text_field :name %><br />
   <%= f.label "Address" %>
   <%= f.text_field :address %><br />
    <%= f.label "Phone" %>
   <%= f.text_field :phone %><br />
    <%= f.label "Gluten Free" %>
   <%= f.text_field :gluten_free %><br />
    <%= f.label "Vegan" %>
   <%= f.text_field :vegan %><br />
   <%= f.label "image_url" %>
   <%= f.text_field :image_url %><br />
   <% if current_user.is_admin %>
     <%= f.hidden_field :is_public, value: true%>
   <% else %>
     <%= f.hidden_field :is_public, value: false %>
   <% end %>
   <%= f.submit%>
<% end %>

