<h1>locations index page OF DEATH</h1>
<% if @u_locations %>
	<p><% @u_locations.each do |location| %></p>

	<p><%= link_to location.name, location_path(location) %></p>
	<p><%= location.address %></p>
	<p><%= location.phone %></p>
	<p><%= location.gluten_free %></p>
	<p><%= location.vegan %></p>
	<p>*************************</p>
	<% end %>

<% else %>
	<p><% @locations.each do |location| %></p>

	<p><%= link_to location.name, location_path(location) %></p>
	<p><%= location.address %></p>
	<p><%= location.phone %></p>
	<p><%= location.gluten_free %></p>
	<p><%= location.vegan %></p>
	<p>*************************</p>

	<% end %>
<%= link_to "Home", locations_path %>
<% end %>