

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src=".../assets/javascripts/scrape.js"></script>
<script src="../../assets/javascripts/map.js"></script>

<style>
  html, body, #map-canvas {
    height: 75%;
    width: 75%;
    margin: 0;
    padding: 0;
  }

</style>



<h1>locations index page OF DEATH</h1>
<h1>Google Maps Tut</h1>

  <div id="map-canvas"></div>

<% if @u_locations %>
	<p><% @u_locations.each do |location| %></p>

	<p><%= link_to location.name, location_path(location) %></p>
	<p><%= location.address %></p>
	<p><%= location.phone %></p>
	<p><%= location.gluten_free %></p>
	<p><%= location.vegan %></p>
	<p>*************************</p>
	<% end %>

<% else %>
	<p><% @locations.each do |location| %></p>

	<p><%= link_to location.name, location_path(location) %></p>
	<p><%= location.address %></p>
	<p><%= location.phone %></p>
	<p><%= location.gluten_free %></p>
	<p><%= location.vegan %></p>
	<p>*************************</p>

	<% end %>
<%= link_to "Home", locations_path %>
<% end %>

<form id="searchForm" action="">
	<label for="keyword"> Keyword:
		<input id="keyword" type="text" name="keyword">
	</label>
	<label for="location"> Location:
		<input id="location" type="text" name="location">
	</label>
	<input type="submit" value="SEARCH!">
</form>


<h1>BEST FORM BELOW</h1>


<form id="bestSearchForm" action="">
	<label for="keyword"> Keyword:
		<input id="bestKeyword" type="text" name="bestKeyword">
	</label>
	<label for="location"> Location:
		<input id="bestLocation" type="text" name="bestLocation">
	</label>
	<input type="submit" value="SEARCH!">
</form>